@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-white antialiased;
  background-image: 
    radial-gradient(circle at 15% 50%, rgba(109, 40, 217, 0.15), transparent 25%),
    radial-gradient(circle at 85% 30%, rgba(219, 39, 119, 0.15), transparent 25%);
}
